.white-back{
   display: flex;
   justify-content: space-between;
   padding-bottom: 128px;
   padding-top: 96px;
}
.right_column{
   display: flex;
   flex-direction: column;  
   
   margin-right: 230px;
   width: 360px;
   padding-top: 10px;
}
.left_column{
   display: flex;
   flex-direction: column;   
   margin-left: 230px;
   width: 652px;
}
.cart_card{
   position: relative;
   display: flex;
   flex-direction: row;
   margin-bottom: 40px;
   height: 306px;
   background-color: white;
   filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart_card h3{
   font-size: 24px;
   line-height: 29px;
   color: #222222;
   margin-top: 22px;
   margin-bottom: 42px;
}
.cart_card h4{
   font-weight: normal;
   font-size: 22px;
   line-height: 26px;
   color: #575757;
   margin-bottom: 6px;
}
.cart_card img{
   margin-right: 31px;
}
.cart_close{
   position: absolute;
   right:-10px;
   top:22px;
   width: 18px;
   height: 18px;
}
h4 input{
   margin-left: 25px;
   width: 44px;
   height: 25px;
}

.product-button{
   border: 1px solid #A4A4A4;
   background: #FFFFFF;
   text-decoration: none;
   display: inline-block;
   color:  #A4A4A4;
   padding: 17.5px 41.5px 16.5px 38.5px;
   text-align: center;
   
}
.product-button:hover{
     background: #584b4d;
     color: #FFFFFF;
}
.button_block{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.right_column_bottom{
   box-sizing: border-box;
   width: 360px;
   height: 214px;
   background: #F5F3F3;
   margin-top: 58px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding: 39px 37px 20px 37px;
}
.right_column h3{
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #222222;

}
.right_column input{
margin-top: 20px;
height: 45px;
padding-left: 16.7px;
}

.gray_line{
   background: #E2E2E2;
   width: 275px;
   height: 1px;
   margin-top: 21px;
   margin-bottom: 17px;
}
.right_column h4{
   font-weight: normal;
font-size: 11px;
line-height: 13px;

color: #4A4A4A;
margin-bottom: 17px;
}
.right_column h3{
   font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #222222;
}
.button_get{
   width: 100px;
    
   margin-top:23px;
   font-weight: 300;
   font-size: 11px;
   line-height: 13px;
   padding: 9px 14px 12px 14px;
}
.button_proceed{
background-color: #F16D7F;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}