
@media screen  and (max-width: 769px){
.product-catalog {
   margin-left: 16px;
   margin-right: 16px; 
   padding-bottom: 40px;
   padding-top: 24px;
}
.product-table {
    margin-left: 16px;
    margin-right: 16px;
}
.product-header-catalog {
    margin-top: 24px;
    height: 0px;
}

}