.white__back{
 padding: 0 0 96px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.catalog__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1141px;
   height: 148px;
   background-color: #F1E4E6;
   padding: 0 230px 0 230px;
   }
.catalog__nav ul li{
   display: inline-table;
   text-transform: uppercase;
   
}
.catalog__navt ul li:last-child{
   color: #F16D7F;

}

.catalog__nav{
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #636363;
   }
.catalog__header--arrivals{
      font-size: 24px;
      line-height: 29px;
      color: #F16D7F;
   } 
.img-catalog-it{
      margin-left: 10px;
   }



.catalog__menu{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   height: 132px;
   width: 100%;
}

.catalog__filter{
   align-items: center;
   width: 360px;
   margin-right: 30px;
   margin-top: -13px;
   position: relative;
   display:inline-block;
}
.catalog__filter:hover .catalog__filter-menu{
   display: block;
}
.breadcrumbs{
   display: flex;
}
.catalog__filter-menu{
   padding-left:34px;
   padding-top: 13px;
   width: 360px;
   height: 531px;
   box-shadow: 1px 1px 17px 1px #cecece;
   background: #ffffff;
   box-sizing: border-box;
   position: absolute;
   color: black;
   display: none;
   z-index: 1;
   font-size: 14px;
   line-height: 17px;
   color: #6F6E6E;
}
.catalog__filter-menu ul li{
  margin-bottom: 11px;
  
  }

 .catalog__filter-menu ul a{
  
  margin-left:20px;
  
  } 
.catalog__filter-block{
   border-left: 5px solid #EF5B70;
   margin:16px 0 0 0 ;
   height: 37px; 
   box-shadow: -1px 1px 0px 1px #EBEBEB;
   display: flex;
   align-items: center;
   padding-left: 11px;
   color: #EF5B70;
   text-transform: uppercase;
}

.catalog__filter-menu a{
   text-decoration: none;
   display: block;
}
.catalog-menu-it{
   font-size: 14px;
   line-height: 17px;
   color: #6F6E6E;
   margin-right: 28px;
}
.product-text{
   
   font-size: 14px;
	line-height: 17px;

   color: #9F9F9F;
   margin-bottom: 48px;
}


.product-bottom{
   display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
}

.paginator{
   
   margin: 45px 0 0 0 ;
   display: flex;
   height: 43px;
   width: 283px;
   border: 1px solid #EBEBEB;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   border-radius: 5px;
   
}
.numbers{
   width: 203px;
   letter-spacing: 4px;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #6F6E6E;
   display: flex;
   
}
.numbers li{
   display: inline-block;
   margin: 0 10px 0 0 ;
   }
.numbers li a{
   text-decoration:none;
}