*{
   margin: 0;
   padding: 0;
   outline: none; 
}
:root {
   --pink: #F1E4E6;
   --dark-pink: #F16D7F;
   
}

@import url('https://fonts.googleapis.com/css2?family=Lato:300,400,700,900');

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

body{
   font-family: 'Lato';
   font-style: normal;
   font-weight: normal;
   background: #E5E5E5;
}

.border{
   border: 1px solid black; 
}
.margin{
   margin-left:230px;
   margin-right:230px;
}
.width{
   max-width: 1140px;;
}

.container{
   margin: 0px auto;
} 

.nav{
   height: 75px;
   background-color:#222222;
   padding-bottom: 20px;
   box-sizing: border-box;
}
.nav a{
   display: block;
    
    height: 100%;
}
.nav__panel{
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
   max-width: 1140px;
   
}
.nav__panel button{
   border: none;
   background-color: transparent;
}
.nav__panel button svg{
   fill:white;
}
.nav__logo{
   display: flex;
   align-items: flex-end;
   height: 100%;
}
.nav__logo li{
   margin-right: 41px;
}

.nav__logo li:first-child{
   background-image: url(../img/nav_logo.png);
   width: 44px;
   height: 38px;
}
.nav__logo-find{
   background-image: url(../img/header-find.svg);
   width: 26px;
   height: 26px;
   background-size: cover; 

}
.nav__logo-find:active {
 transform: scale(0.8);
}

.menu__btngroup{
   display: flex;
   position: relative;
   height: 100%;
   align-items: flex-end;
}
.menu__btngroup > li{
   margin: 0 0 0 33px;
}

.menu__btngroup-menu{
   background-image: url(../img/header-menu.svg);
   width:32px;
   height: 23px;
   background-size: cover; 
}
.menu__btngroup > li:nth-child(2){
   background-image: url(../img/header-reg.svg);
   width:29px;
   height: 29px; 
}

.menu__btngroup > li:nth-child(3){
   background-image: url(../img/header-cart.svg);
   width:32px;
   height: 29px; 
   position: relative;
}

.btn-group-label{
   position: absolute;
   left: 24px;
   top: -7px;
   width: 19px;
}
.menu__btngroup-menu:active{
   transform: scale(0.8);
}
.menu__btngroup-menu:active  .menu__vertical {
   display: block;
}

.menu-close{
  margin: 16px 16px 12px;
  height: 12px;
  width: 12px;
  background-image: url(../img/close.png);
  align-self: flex-end;
}

a:visited{
  color: #6F6E6E
   
}

.menu__vertical {
   top: 75px;
   right: -231px;
   width: 1600px;
   height: 765px;
   position: absolute;
   display: none;
   z-index: 1;
   font-size: 14px;
   line-height: 17px;
   color: #F16D7F;
   text-transform: uppercase;
}

.menu__vertical-list li ul li{
   margin: 12px 0 0 20px;
   ;
   text-transform: none;
}
.menu__vertical-list  li{
   margin: 20px 0 0 0 ;
  }

.menu__vertical a{
   text-decoration: none;
   color: hsl(0, 0%, 43%);
}
.menu__vertical-block{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}
.menu__vertical-back {
   background: #000;
   height: 100%;
   opacity: 0.2;
   width: 100%;
}
.menu__vertical-list {
   display: flex;
   height: 100%;
   flex-direction: column;
   background-color: white;
   box-shadow: 0px 0px 0px black  ;
   width: 267px;
   padding-left: 32px;
   box-sizing: border-box;
}


.white__back {
   background-color: #ffffff;
   max-width: 1600px;
}

ul {
   list-style: none;
}
input {
  background: white;
  border: 1px solid #A4A4A4;
}

.footer {
   
   background-color: #222224;
   max-width: 1600px;
}
.advantages {
   display: flex;
   justify-content: space-around;
   height: 341px;
   
   
}
.advantages__it {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin:103px 0 0 0 ;
   
}

.advantages > .advantages__it:nth-child(2) > .advantages__it-img {
   background-image: url(../img/footer-top-l.svg);
   height: 32px;
   width: 45px;
   margin: 0 0 30px 0;
}

.advantages > .advantages__it:nth-child(3) > .advantages__it-img {
   background-image: url(../img/footer-top-m.svg);
   height: 40px;
   width: 40px;
   margin: 0 0 25px 0;
}

.advantages > .advantages__it:nth-child(4) > .advantages__it-img {
   background-image: url(../img/footer-top-r.svg);
   height: 35px;
   width: 47px;
   margin:0 0 30px 0;
}


.advantages__it-h {
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
   margin:0 0 16px 0;
}
.advantages__it-p {
   font-weight: 300;
   font-size: 13.972px;
   line-height: 17px;
   text-align: center;
   width: 360px;
   height: 34px;
   
   color: #FBFBFB;
}
.footer__white {
   display: flex;
   justify-content: space-around;
   background-image: url(../img/photosubscribe.png);
   height: 448px;
   
}
.footer__white-comment {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 97px 0 0 0 ;
  }

 

.footer__white-img {
  margin-bottom: 33px;
}
.footer__white-text {
   width: 360px;
   height: 99px;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: #222224;
}
.footer__form {
   display: flex;
   flex-direction: column;
   margin-top: 150px;
  }
.footer__form-text {
   font-weight: bold;
   font-size: 24px;
   line-height: 167.2%;
/* or 40px */
   text-align: center;
   color: #222224;
   margin-bottom: 12px;
   text-transform: uppercase;
}

.footer__form-header {
   font-size: 24px;
   line-height: 167.2%;
   text-align: center;
   color: #222224;
}

.footer__form-p {
   font-size: 18px;
   font-weight: normal;
}
.footer__form-subscribe {
  display: flex; 

}
.footer__white-input {
   background: #E1E1E1;
   width: 170px;
   height: 36px;
   padding: 7px 64px 6px 22px;
   border-radius: 24px 0px 0px 24px;
   border: 0px;
   opacity: 0.67;
   font-size: 14px;
   line-height: 17px;
}
.footer__white-button {
   font-size: 14px;
   line-height: 17px;
   text-decoration: none;
   width: 95px;   
   padding: 7px 6px 6px 15px;
   border: 0px;
   color: #FFFFFF;
   background:#F16D7F;
   display: flex;
   align-items: center;
   text-align: center;
   border-radius: 0px 24px 24px 0px;
   
   
}
.footer__copyright {
   height: 79px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.footer__copyright-copy {
   color: #FBFBFB;
   font-size: 16px;
   line-height: 19px;
}
.footer__copyright-soc {
   display: flex;
}
.footer__copyright-img {
   background-color: #FFFFFF;
   width: 32px;
   height: 32px;
   margin-right: 7.3px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.footer__copyright-img:hover {
   background-color:#F16D7F;
      
}
.footer__copyright-img:hover .footer-img-soc-im {
   filter: invert(100%);
}


/* table */
@media screen  and (max-width: 769px){


.nav-panel{
     
      margin-left: 32px;
   }

   .menu-right{
      margin-right: 39px;
   }
   .width{
      max-width: 768px;;
   }

   .nav{
      height: 75px;
      
      
   }
   .main-top{
      flex-direction: row;
      height: 368px;
   }

   .main-img{
   width: 50%;
   height: 100%;
   }
   .main-text {
      display: flex;
      align-items: center;
      margin: -17px 0px 0 44px;
    }

.img-text {
    width: 283px;
}

.main-catalog-header-left {
   margin-left: 16px;
}
.main-catalog-header-right {
   margin-right: 16px;
}

.product {
    margin-top: 155px;
    padding-bottom: 65px;
}



.product-bottom {
  margin-top: 2px;
}

.footer {
    
  max-width: 768px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 610px;
}
.footer-top-it {
  margin-top: 0;
}

.footer-top-text {
    margin-bottom: 16px;
}

.footer-middle {
    flex-direction: column;
    justify-content: flex-start;
    height: 693px;
    background-size: cover;
}
.footer-middle-it {
  margin-top: 53px;
}
.footer-middle-it-right {
   align-items: center;
   margin-top: 48px;
}
.footer-bottom-copy {
  margin-left: 32px;
}

.footer-bottom-copy {
  margin-right: 32px;
}

}

/*mobile*/
@media screen and (max-width: 376px){

  
 
   .nav-panel{
     
      margin-left: 18px;
   }
   .menu-right {
      margin-right: 16px;
   }
   
   .menu-right-not{
      display: none;
   }

   .width{
      max-width: 375px;;
   }

   .nav{
      height: 74px;
      
      
   }
   .main-top{
      flex-direction: column;
      height: 363px;
   }
   
   .main-img{
      display: none;
   }
   .main-text{
      height: 363px;
      margin: 0 2px 8px 0;
   }
   .main-text_red-line{
      height: 61px;
   }
   .img-text{
      height: 52px;
      width: 236px;
   }

   
  .product{
     margin-top: 0px;
  }
  
  .footer-top{
   height: 610px;
   flex-direction: column;
   padding-top: 46px;
  }
  .footer-top-it{
   margin-bottom: 46px;
   margin-top: 0;
  }
  .footer-middle{
     height: 550px;
     width: 375px;
    
     background-size: 1616px 550px;
      background-repeat: no-repeat;
      background-position-x: -330px;
  }

  .footer-middle-it{
   margin-top: 55px;
  }
  .footer-middle-it-right{
   margin-bottom: 110px;
   margin-top: 0px;
  }
  .footer-middle-sub {
   margin-bottom: 22px;
  }
  .footer-bottom{
   flex-direction: column-reverse;
   margin-top: 40px;
   height: auto;
  }
  .footer-bottom-copy{
     margin-top: 40px;
    margin-bottom: 9px;
  }

}

 