
.title{
   display: flex;
   background-color: var(--pink);
   align-items: center;
   max-width: 1600px;
   height: 763px;
   text-transform: uppercase;
}

.main__img{
  
  background-image: url(../img/main-img.png);
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.tagline{
   display: flex;
   align-items: center;
   margin: 0 0 81px 68px;
}

.tagline__text{
   font-family: Lato;
   font-style: normal;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
}


.tagline__text-head h4{
   font-weight: 700;
   font-size: 37px;
   line-height: 44px;
}
.tagline__text span  h4 span{
   color: var(--dark-pink);
   
}

.tagline__redline{
   background-color:var(--dark-pink);
   height: 92px;
   width: 12px;
   margin-right: 16px;
}
.offer{
  padding-top: 65px;

}
.offer__list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.offer__list > li{
   margin: 0 0 30px;
}
.offer__card{
   width: 360px;
   height: 280px;
   position: relative;
   background-position: center;
   background: rgba(33, 22, 22,1);
   background-size: cover;
   text-transform: uppercase;
}

.offer__card-text{
	position: absolute;
	left: 33%;
	top:40%;
   font-weight:400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.offer__card-text h4{
   color:var(--dark-pink);
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
}
.offer__list li:last-child{
   width: 100%;
}
.offer__card-accessories{
   position: relative;
   width: 100%;
   height: 180px;
   background-image: url(../img/offer-card_bottom.png);
   background-position: center;
   text-transform: uppercase;
}
.offer__card-accessories::before{
   background-color:rgba(33, 22, 22, 0.7);
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
 }
.offer__card-accessories .offer__card-text{
   left: 43%;
   top: 38%;
}
.off__women{
   /*filter: alpha(Opacity=50);
   opacity: 0.7;*/
   background-image: url(../img/offer-women.png);
   
   
}
.off__women::before{
   background-color:rgba(33, 22, 22, 0.7);
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
 }

.off__man{
   background-image: url(../img/offer-man.png);
}
.off__man::before{
   background-color:rgba(33, 22, 22, 0.7);
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
 }
.off__kids{
   background-image: url(../img/offer-kids.png);
}
.off__kids::before{
   background-color:rgba(33, 22, 22, 0.7);
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
 }
.product{
   margin-top: 96px;
   padding-bottom: 95px;
}
.product__catalog{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-bottom: 95px;
}

.product__header{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
	line-height: 36px;
	color: #222222;
   
}

.product__header-text{
   font-size: 14px;
	line-height: 17px;
   color: #9F9F9F;
   margin: 0 0 48px 0;
}

.product__list{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.product__card{
   background: #F8F8F8;
   height: 581px;
   width: 360px;
   margin-bottom: 40px;
}

.product__card:hover .product__add-cover{
   display: block;
}
.product__add button:active {
   transform: scale(0.8);
}
.product__card-imgbox{
   position: relative;
}
.product__card-img{
   margin-bottom: 25px;
}
.product__add-cover{
   display: none;
}
.product__add{
   position: absolute;
   height: 94%;
   width: 100%;
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.7;
   top: 0px;
}
.product__add button{
   border: 1px solid#ffF;
   background: transparent;
   color: white;
   display: flex;
   justify-content: center;
   width: 138px;
   height: 43px;
   align-items: center;
}
.product__add-cart{
   background-image: url(../img/header-cart.svg);
   width: 26px;
   height: 24px;
   background-size: cover;
   margin-right: 11px;
}
.product__card-header{
   margin-left: 18px;
   margin-bottom: 13px;
   
   font-size: 13px;
   line-height: 16px;
   color: #000000;
   text-transform: uppercase;

}
.product__card-text{
   margin-left: 16.4px;
   margin-bottom: 18px;
   
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
}
.product__card-price{
   margin-left: 18px;
   font-size: 16px;
   line-height: 19px;
   color: var(--dark-pink);
}

.product__bottom-wrap{
   display: flex;
   justify-content: center;
   margin-top: 45px;
}
.product__button{

   border: 1px solid var(--dark-pink);
   background: #FFFFFF;
   text-decoration: none;
   display: inline-block;
   color: #F26376;
   padding: 14.5px 38.5px 13.5px 38.5px;
   text-align: center;
   
}

.product__button:hover{
     background: var(--dark-pink);
     color: #FFFFFF;
}

 