html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/lato300/lato-light.woff") format("woff"), url("../fonts/lato300/lato-light2.woff") format("woff2"), url("../fonts/lato300/lato-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/lato400/lato-regular.woff") format("woff"), url("../fonts/lato400/lato-regular.woff2") format("woff2"), url("../fonts/lato400/lato-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/lato700/lato-bold.woff") format("woff"), url("../fonts/lato700/lato-bold.woff2") format("woff2"), url("../fonts/lato700/lato-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/lato900/lato-black.woff") format("woff"), url("../fonts/lato900/lato-black.woff2") format("woff2"), url("../fonts/lato900/lato-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Lato";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio + label {
  position: relative;
  padding: 15px 0 0 14px;
  cursor: pointer;
}

.radio + label:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
  box-sizing: border-box;
}

.radio + label:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8f9488;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
}

.radio:checked + label:after {
  opacity: 1;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  background: #E5E5E5;
}

.border {
  border: 1px solid black;
}

.margin {
  margin: 0 19% 0 19%;
}

.width {
  width: 71%;
}

.container {
  margin: 0px auto;
}

.nav {
  height: 75px;
  background-color: #222222;
  padding-bottom: 20px;
  box-sizing: border-box;
  max-width: 1600px;
}

.nav a {
  display: block;
  height: 100%;
}

.nav__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 71%;
}

.nav__panel button {
  border: none;
  background-color: transparent;
}

.nav__panel button svg {
  fill: white;
}

.nav__logo {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.nav__logo li {
  margin: 0 41px 0 0;
}

.nav__logo li:first-child {
  background-image: url(../img/nav_logo.png);
  width: 44px;
  height: 38px;
}

.nav__logo-find {
  background-image: url(../img/header-find.svg);
  width: 26px;
  height: 26px;
  background-size: cover;
}

.nav__logo-find:active {
  transform: scale(0.8);
}

.menu__btn--group {
  display: flex;
  position: relative;
  height: 100%;
  align-items: flex-end;
}

.menu__btn--group > li {
  margin: 0 0 0 33px;
}

.menu__btn--group > li:nth-child(2) {
  background-image: url(../img/header-reg.svg);
  width: 29px;
  height: 29px;
}

.menu__btn--group > li:nth-child(3) {
  background-image: url(../img/header-cart.svg);
  width: 32px;
  height: 29px;
  position: relative;
}

.count {
  color: #FFF;
  background: #F16D7F;
  position: absolute;
  left: 24px;
  top: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.menu__btn--button {
  background-image: url(../img/header-menu.svg);
  width: 32px;
  height: 23px;
  background-size: cover;
}

.menu__btn--button:active {
  transform: scale(0.8);
}

.menu-close {
  margin: 16px 16px 12px;
  height: 12px;
  width: 12px;
  background-image: url(../img/close.png);
  align-self: flex-end;
}

a {
  color: #6F6E6E;
}

a:visited {
  color: #6F6E6E;
}

.menu__vertical {
  top: 75px;
  right: -231px;
  width: 1600px;
  height: 765px;
  position: absolute;
  display: none;
  z-index: 1;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu__vertical-list li ul li {
  margin: 12px 0 0 20px;
  text-transform: none;
}

.menu__vertical-list li {
  margin: 20px 0 0 0;
}

.menu__vertical a {
  text-decoration: none;
  color: #6e6e6e;
}

.menu__vertical-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.menu__vertical-back {
  background: #000;
  height: 100%;
  opacity: 0.2;
  width: 100%;
}

.menu__vertical-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 0px black;
  width: 267px;
  padding-left: 32px;
  box-sizing: border-box;
}

.white__back {
  background-color: #ffffff;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

input {
  background: white;
  border: 1px solid #A4A4A4;
}

input:hover {
  outline: 2px solid #F16D7F;
}

.product {
  margin: 96px 0 0 0;
  padding: 0 0 95px 0;
}

.product__catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 95px 0;
}

.product__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.product__header-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0 0 48px 0;
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__card {
  background: #F8F8F8;
  height: 581px;
  width: 360px;
  margin-bottom: 40px;
}

.product__card:hover .product__card-add {
  display: block;
}

.product__card-add button:active {
  transform: scale(0.9) translate(-57%, -50%);
}

.product__card-imgbox {
  position: relative;
}

.product__card-img {
  margin: 0 0 25px;
}

.product__card-btnimg {
  background-image: url(../img/header-cart.svg);
  width: 26px;
  height: 24px;
  background-size: cover;
  margin-right: 11px;
}

.product__card-add {
  display: none;
  position: absolute;
  height: 94%;
  width: 100%;
  background: black;
  opacity: 0.7;
  top: 0px;
}

.product__card-add button {
  border: 1px solid #ffF;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  width: 138px;
  height: 43px;
  align-items: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.product__card-header {
  margin-left: 18px;
  margin-bottom: 13px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.product__card-text {
  margin-left: 16.4px;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__card-price {
  margin-left: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__bottom-wrap {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.product__button {
  font-family: "Lato";
  border: 1px solid #F16D7F;
  background: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  color: #F26376;
  padding: 14.5px 38.5px 13.5px 38.5px;
  text-align: center;
}

.product__button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.product__button:active {
  background: #F16D7F;
  color: #FFFFFF;
  transform: scale(0.9);
}

.advantages {
  background-color: #222224;
  display: flex;
  justify-content: space-around;
  height: 341px;
  padding: 104px 230px 0 230px;
  width: 100%;
  box-sizing: border-box;
}

.advantages__it {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages > .advantages__it:nth-child(2) > .advantages__it-img {
  background-image: url(../img/footer-top-l.svg);
  height: 32px;
  width: 45px;
  margin: 0 0 30px 0;
}

.advantages > .advantages__it:nth-child(3) > .advantages__it-img {
  background-image: url(../img/footer-top-m.svg);
  height: 40px;
  width: 40px;
  margin: 0 0 25px 0;
}

.advantages > .advantages__it:nth-child(4) > .advantages__it-img {
  background-image: url(../img/footer-top-r.svg);
  height: 35px;
  width: 47px;
  margin: 0 0 30px 0;
}

.advantages__it-h {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 0 0 16px 0;
}

.advantages__it-p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  width: 360px;
  height: 34px;
  color: #FBFBFB;
}

.footer {
  background-color: #222224;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__white {
  display: flex;
  justify-content: space-around;
  background-image: url(../img/photosubscribe.png);
  height: 448px;
}

.footer__white-input {
  background: #E1E1E1;
  width: 170px;
  height: 36px;
  padding: 7px 64px 6px 22px;
  border-radius: 24px 0px 0px 24px;
  border: 0px;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
  transition: 0.5s;
}

.footer__white-input:hover {
  outline: none;
  background: #FFF;
}

.footer__white-button {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  width: 95px;
  padding: 7px 6px 6px 15px;
  border: 0px;
  color: #FFFFFF;
  background: #F16D7F;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0px 24px 24px 0px;
  transition: 0.2s;
}

.footer__white-button:active {
  background: #DC143C;
}

.footer__white-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 97px 0 0 0;
}

.footer__white-img {
  margin-bottom: 33px;
}

.footer__white-text {
  width: 360px;
  height: 99px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer__form {
  display: flex;
  flex-direction: column;
  margin: 150px 0 0 0;
}

.footer__form-text {
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footer__form-header {
  text-align: center;
}

.footer__form-p {
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}

.footer__form-subscribe {
  display: flex;
}

.footer__copyright {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-copy {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

.footer__copyright-soc {
  display: flex;
}

.footer__copyright-img {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  margin: 0 0 0 7.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright-img:hover {
  background-color: #F16D7F;
}

.footer__copyright-img:hover .footer-img-soc-im {
  filter: invert(100%);
}

.display-block {
  display: block !important;
}

.white__back {
  display: flex;
  justify-content: space-between;
  padding: 0 0 128px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: end;
}

.menu__vertical {
  right: -1563px;
}

.menu__vertical-block {
  height: 888px;
}

.menu__vertical-back {
  display: none;
}

.cart__header {
  display: flex;
  background-color: #F1E4E6;
  align-items: center;
  width: 100%;
  height: 148px;
  flex-grow: 1;
  margin: 0 0 96px 0;
  padding: 10px 230px 10px 230px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.card__column {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 230px;
  width: 652px;
}

.card__column-btnblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.cart__card {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 0 40px 0;
  height: 306px;
  background-color: white;
  filter: drop-shadow(17px 17px 8px rgba(0, 0, 0, 0.13));
}

.cart__card h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  margin: 22px 0 42px 0;
  text-transform: uppercase;
}

.cart__card p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  margin: 0 0 6px 0;
}

.cart__card span {
  color: #F16D7F;
}

.cart__card-img {
  margin: 0 31px 0 0;
  height: 100%;
}

.cart__card-close {
  position: absolute;
  right: 18px;
  top: 22px;
  width: 18px;
  height: 18px;
}

.cart__card input {
  margin: 0 0 0 25px;
  width: 44px;
  height: 25px;
  padding: 0 0 0 10px;
}

.product__button {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  color: #A4A4A4;
  padding: 17.5px 41.5px 16.5px 38.5px;
  text-align: center;
  text-transform: uppercase;
}

.product__button:hover {
  background: #584b4d;
  color: #FFFFFF;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 230px 0 0;
  width: 360px;
  padding: 10px 0 0 0;
}

.form__text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.form__text h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}

.form__text input {
  margin-top: 20px;
  height: 45px;
  padding-left: 16.7px;
}

.form__text h4 {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
  margin: 0 0 17px 0;
}

.form__text h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}

.form__get {
  width: 105px;
  margin: 23px 0 0 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  padding: 9px 14px 12px 14px;
}

.form__checkout {
  box-sizing: border-box;
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  margin: 58px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 39px 37px 20px 37px;
  text-transform: uppercase;
}

.form__checkout span {
  margin: 0 0 0 10px;
}

.form__checkout h3 {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
  margin: 0 0 12px 0;
}

.form__checkout h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}

.form__checkout h4 span {
  color: #F16D7F;
}

.form__checkout-line {
  background: #E2E2E2;
  width: 275px;
  height: 1px;
  margin: 21px 0 17px 0;
}

.button__proceed {
  background-color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  border: none;
  color: #FFFFFF !important;
  height: 50px;
  width: 273px;
}

.button__proceed:hover {
  background-color: #c64152;
}

.cart_close:active .cart__card {
  display: hide;
}

.advantages {
  display: none;
}

@media (max-width: 375px) {
  .width {
    width: 98%;
  }

  .nav__panel {
    max-width: 100%;
  }

  .menu__btn--group > li:nth-child(2) {
    display: none;
  }

  .menu__btn--group > li:nth-child(3) {
    display: none;
  }

  .menu__vertical {
    right: 0px;
    width: 375px;
    height: 610px;
  }

  .menu__vertical-back {
    display: none;
  }

  .menu__vertical-list {
    width: 100%;
  }

  .product {
    margin: 0 0 0 0;
  }

  .product__list {
    justify-content: center;
  }

  .advantages {
    flex-direction: column;
    height: 610px;
  }

  .footer__white {
    height: 500px;
  }

  .footer__white-comment {
    margin: 0 0 0 0;
  }

  .footer__form {
    align-items: center;
    margin: 10px 0 0 0;
  }

  .footer__copyright {
    height: 143px;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .white__back {
    flex-direction: column;
    padding: 0 0 96px;
  }

  .cart__header {
    margin: 0 0 40px 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .cart__header span {
    margin: 0 auto;
  }

  .card__column {
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .card__column-btnblock {
    justify-content: space-between;
  }

  .cart__card {
    height: 188px;
    width: 96%;
  }

  .cart__card h2 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin: 13px 0 25px 0;
    width: 140px;
  }

  .cart__card p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 4px 0;
  }

  .cart__card-img {
    margin: 0 17px 0 0;
  }

  .cart__card-close {
    width: 11px;
    height: 11px;
  }

  .cart__card input {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    width: 23px;
    height: 15px;
  }

  .product__button {
    width: 174px;
    height: 33px;
    box-shadow: border-box;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 0;
  }

  .form {
    margin: 0 8px 0 8px;
  }

  .form__checkout {
    margin: 49px 0 0 0;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .margin {
    margin: 0 16px 0 16px;
  }

  .width {
    width: 96%;
  }

  .nav {
    height: 74px;
  }

  .nav__panel {
    max-width: 96%;
  }

  .advantages {
    height: 610px;
    flex-direction: column;
    padding: 48px 0 64px 0;
    box-sizing: content-box;
  }

  .footer__white {
    height: 614px;
    flex-direction: column;
    padding: 54px 0 0 0;
    background-size: cover;
    justify-content: unset;
    background-position-x: -400px;
  }

  .footer__white-comment {
    margin: 0 0 0 0;
  }

  .footer__form {
    align-items: center;
    margin: 48px 0 0 0;
  }

  .footer__form-text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
  }

  .cart__header {
    padding: 0 0 0 16px;
    margin: 0 0 40px 0;
  }

  .card__column {
    margin: 0 16px 0 16px;
    width: 100%;
  }

  .card__column-btnblock {
    justify-content: space-around;
  }

  .form {
    flex-direction: row;
    margin: 0 16px 0 16px;
    width: 100%;
  }

  .form__text {
    width: 50%;
  }

  .form__checkout {
    width: 50%;
    margin: 39px 0 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .width {
    width: 96%;
  }

  .nav__panel {
    max-width: 96%;
  }

  .product__list {
    justify-content: center;
  }

  .advantages {
    flex-direction: column;
    padding: 48px 0 64px 0;
    box-sizing: content-box;
  }

  .footer__white {
    height: 614px;
    flex-direction: column;
    padding: 54px 0 0 0;
    background-size: cover;
    justify-content: unset;
    background-position-x: -400px;
  }

  .footer__white-comment {
    margin: 0 0 0 0;
  }

  .footer__form {
    align-items: center;
    margin: 48px 0 0 0;
  }

  .cart__header {
    padding: 0 0 0 16px;
    margin: 0 0 40px 0;
  }

  .card__column {
    margin: 0 16px 0 16px;
    width: 100%;
  }
}