//- catalog.pug
extends ./layout.pug
include product_cart
block variables
   - var title = 'Catalog';
   - var page_name = '../css/catalog.css';   
block content
   
   main.white__back.container
      section.catalog__header.container
         span.catalog__header--arrivals NEW ARRIVALS
         nav.breadcrumbs
            ul
               li
                  a(href="index.html") home 
                   | /
               li
                  a(href="#") men 
                   | /
               li
                  a(href="#") new arrivals
      section.catalog__menu.width.container.margin
         .catalog__filter
            .img_filtr
            | filter
            img(src="img/filter_i.svg")
            .catalog__filter-menu
               img(src="img/filter_i.svg")
               ul
                  li
                     .catalog__filter-block category
                  li
                     a(href="#") Accessories
                  li
                     a(href="#") Bags
                  li
                     a(href="#") Denim
                  li
                     a(href="#") Hoodies & Sweatshirts
                  li
                     a(href="#") Jackets & Coats
                  li
                     a(href="#") Polos
                  li
                     a(href="#") Shirts
                  li
                     a(href="#") Shoes
                  li
                     a(href="#") Sweaters & Knits
                  li
                     a(href="#") T-Shirts
                  li
                     a(href="#") Tanks
                  li
                     .catalog__filter-block brand
                  li
                     .catalog__filter-block desinder

         .catalog__menu--size
            .catalog__menu--it
               | trending now
               img.catalog__menu--it(src="img/down.svg")
            .catalog__menu--it
               | size
               ul.size__menu
                  li
                     input(type="checkbox")
                     | xs
                  li
                     input(type="checkbox")
                     | s
                  li
                     input(type="checkbox")
                     | m
                  li
                     input(type="checkbox")
                     | l
               img.catalog__menu--it(src="img/down.svg")
            .catalog__menu--it
               | price 
               img.catalog__menu--it(src="img/down.svg")
      section.product__table.width.container
         h2.visually-hidden product-catalog
         ul.product__list

            +product__card()
            +product__card('img/product-card12.png')
            +product__card('img/product-card3.png')
            +product__card('img/product-card4.png')
            +product__card('img/product-card7.png')
            +product__card('img/product-card8.png')
            +product__card('img/product-card9.png')
            +product__card('img/product-card10.png')
            +product__card('img/product-card11.png')
      
      .paginator
         div
            a(href="#")
            img(src="img/left.svg")
         ul.paginator__list
            li
               a(href="#") 1
            li
               a(href="#") 2
            li
               a(href="#") 3
            li
               a(href="#") 4
            li
               a(href="#") 5
            li
               a(href="#") 6
            li .....
            li 20
         div
            a(href="#")
            img(src="img/right.svg")








