//- index.pug

extends ./layout.pug
include product_cart
block variables
   - var title = 'Shop';
   - var page_name = '../css/index.css';   
block content
   main.white__back.container
      section.title
         h2.visually-hidden Main img
         .main__img
         .tagline
            .tagline__redline
            .tagline__text
               span.tagline__text-head
                  | the brand

                  h4
                     | of luxerious 
                     span fashion
      section.offer.width.margin
         h2.visually-hidden Offers
         ul.offer__list
            li
               a(href="catalog.html")
                  .offer__card.off__women
                     .offer__card-text
                        p 30% off
                        h4 for women
            li
               a(href="catalog.html")
                  .offer__card.off__man
                     .offer__card-text
                        p hot deal
                        h4 for men
            li
               a(href="catalog.html")
                  .offer__card.off__kids
                     .offer__card-text
                        p new arrivals
                        h4 for kids
            li
               a(href="catalog.html")
                  .offer__card-accessories
                     .offer__card-text
                        p luxerious & trendy
                        h4 accessories
      section.product.width.margin
         h2.visually-hidden product
         header.product__header
            h3.product__header Fetured Items
            p.product__header-text Shop for items based on what we featured in this week
         ul.product__list
            +product__card()
            +product__card('img/product-card2.png')
            +product__card('img/product-card3.png')
            +product__card('img/product-card4.png')
            +product__card('img/product-card5.png')
            +product__card('img/product-card6.png')
           
         .product__bottom-wrap
            button.product__button.container(type="button").
            
               Browse All Product
         








