//- layout.pug
block variables

doctype html
html
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width,initial-scale=1")
      title #{title}
      link(rel="stylesheet", href=page_name)
      block addstyle
      block scripts
   body
      include header

      block content

      //-include #{page_name}

      include footer
      
      block addscript

      script(src="../js/menu.js")