//- cart.pug
extends ./layout.pug

block variables
   - var title = 'cart';
   - var page_name = '../css/cart.css';   
block content
   main.white__back.container
      .cart__header.container
         span shopping cart
      .card__column
         .cart__card
            img.cart__card-img(height="188", src="img/product-card3.png")
            div
            h2 mango people t-shirt
            img.cart__card-close(src="img/close.svg")
            p
               | Price: 
               span $300
            p Color: Red
            p Size: Xl
            p
               | Quantity: 
               input(type="text", placeholder="2")
         .cart__card
            img.cart__card-img(height="188", src="img/product-card12.png")
            div
            h2 mango people t-shirt
            img.cart__card-close(src="img/close.svg")
            p
               | Price: 
               span $300
            p Color: Red
            p Size: Xl
            p
               | Quantity: 
               input(type="text", placeholder="2")
         .card__column-btnblock
            button.product__button(type="button", href="#") clear shopping cart
            a.product__button(href="catalog.html") continue shopping
      form.form
         .form__text
            h3 SHIPPING ADRESS
            input(type="text", placeholder="Bangladesh")
            input(type="text", placeholder="State")
            input(type="text", placeholder="Postcode / Zip")
            button.product__button.form__get(type="button") get a quote
         .form__checkout
            h3
            | sub total 
            span $900
            h4
            | grand total 
            span $900
            .form__checkout-line
            button.product__button.button__proceed(type="submit") proceed to checkout








