footer.footer.container
  section.advantages.container.width
    h2.visually-hidden advantages
    .advantages__it
      .advantages__it-img
      h4.advantages__it-h Free Delivery
      p.advantages__it-p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
    .advantages__it
      .advantages__it-img
      h4.advantages__it-h Sales & discounts
      p.advantages__it-p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
    .advantages__it
      .advantages__it-img
      h4.advantages__it-h Quality assurance
      p.advantages__it-p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
  section.footer__white.container
    h2.visually-hidden subscripe
    .footer__white-comment
      img.footer__white-img(height="96", src="img/Intersect.png", alt="foot_foto")
      .footer__white-text “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“
    form.footer__form
      .footer__form-text
        h3.footer__form-header subscribe
        p.footer__form-p for our newletter and promotion
      .footer__form-subscribe
        input.footer__white-input(type="text", placeholder="Enter Your Email")
        button.footer__white-button(type="submit") Subscribe
  section.footer__copyright.width.container
    h2.visually-hidden copyright
    h3.footer__copyright-copy © 2021 Brand All Rights Reserved.
    ul.footer__copyright-soc
      li.footer__copyright-img
        a(hreh="#")
          img.footer-img-soc-im(height="16", src="img/soc_1.png", alt="Facebook")
      li.footer__copyright-img
        img.footer-img-soc-im(height="16", src="img/soc_2.png", alt="Instagram")
      li.footer__copyright-img
        img.footer-img-soc-im(height="16", src="img/soc_3.png", alt="Pinterest")
      li.footer__copyright-img
        img.footer-img-soc-im(height="16", src="img/spc_4.png", alt="Twitter")