header
  .nav.container
    .nav__panel.margin.container.width
      ul.nav__logo
        li
          a(href="index.html", title="Main")
        li
          button.nav__logo-find(type="button", title="Find")
      ul.menu__btn--group
        li
          button.menu__btn--button#menu_btn(type="button", title="Menu")
          nav.menu__vertical#menu__vertical
            .menu__vertical-block
              .menu__vertical-back
              ul.menu__vertical-list
                .menu-close#menu-close
                span menu
                li
                  span man
                  ul
                    li
                      a(href="#") Accessories
                    li
                      a(href="#") Bags
                    li
                      a(href="#") Denim
                    li
                      a(href="#") T-Shirts
                li
                  span woman
                  ul
                    li
                      a(href="#") Accessories
                    li
                      a(href="#") Jackets & Coats
                    li
                      a(href="#") Polos
                    li
                      a(href="#") T-Shirts
                    li
                      a(href="#") Shirts
                li
                  span kids
                  ul
                    li
                      a(href="#") Accessories
                    li
                      a(href="#") Jackets & Coats
                    li
                      a(href="#") Polos
                    li
                      a(href="#") T-Shirts
                    li
                      a(href="#") Shirts
                    li
                      a(href="#") Bags
        li
          a(href="registration.html", title="Registation")
        li
          a(href="cart.html", title="Cart")
          img.btn-group-label(height="19", src="img/header-cart-label.svg")