//- registration.pug
extends ./layout.pug

block variables
   - var title = 'Registration';
   - var page_name = '../css/registration.css';   
block content
   h1= title  
   p Главная страница сайта... Lorem ipsum dolor sit amet, consectetur adipisicing elit...








